{
  "notifiers": [
    {
      "name": "Console Notifier",
      "class": "notifier/console-notifier",
      "constructor": []
    },
    {
      "name": "LINE Notifier for some app",
      "class": "notifier/line-notifier",
      "constructor": [ "token" ]
    },
    {
      "name": "Slack Notifier for some app",
      "class": "notifier/slack-notifier",
      "constructor": [ "token", "channel" ]
    },
    {
      "name": "CSV Notifier",
      "class": "notifier/csv-notifier",
      "constructor": ["./csv"]
    }
  ],
  "apps": [
    {
      "bundleId": "xx.xxx.xxx",
      "notifiers": ["Console Notifier", "LINE Notifier for some app", "Slack Notifier for some app", "CSV Notifier"]
    },
  ],
  "testflight": [
    {
      "bundleId": "xx.xxx.xxx",
      "notifiers": ["Console Notifier", "LINE Notifier for some app", "Slack Notifier for some app"]
    }
  ],
  "API": {
    "type": "api/app-store-connect-api",
    "constructor": [ "issuer_id", "key_id", "private_key_file_path" ]
  },
  "schedule": "0 * * * * *"
}
